<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>

    {% load cache %}
    <h3>Comments ({{ comment_count }})</h3>
    {% cache 600 comments_for_post post.id %}
    <ul>
        {% for comment in comments %}
        <li>{{ comment.author }}: {{ comment.text }}</li>
        {% endfor %}
    </ul>
    {% endcache %}
    
    <h3>Add a Comment</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
